body {
  color: #2c2c2c;
  margin: 0;
  padding: 0;
}

.header {
  display: block;
  margin-bottom: 40px;
}

.header .kode {
  font-size: 12px;
  text-align: left;
  float: left;
}
.header .tanggal {
  font-size: 12px;
  text-align: left;
  float: left;
}

.header .border {
  margin-top: 10px;
  border-bottom: 3px double #2c2c2c;
}

.table table {
  width: 100%;
}

.borderBawah {
  margin-top: 10px;
  border-bottom: 0.1px dashed #2c2c2c;
}
